* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(181, 207, 205);
}

.imagen{
    border-radius: 10px;
}

.imagentsuki{
    width: 300px;
    height: auto;
    border-radius: 10px;
  
}

.formulario {
    width: 80%;
    margin: 0 auto;
}

.fieldset {
    border: 1px solid #ccc;
    padding: 2rem;
    margin-bottom: 2rem;
}

.legend {
    font-weight: bold;
}

.form_group {
    margin-bottom: 1.2rem;
}

.label {
    display: block;
}

.input,
textarea,
select {
    width: 80%;
}

.input:focus {
    background-color: rgb(197, 204, 197);
}


.submit-enviar {
    padding: 1rem 2rem;
    background-color: rgb(118, 164, 161);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 2%;
}

.submit-enviar:hover {
    background-color: rgb(98, 109, 105);
}

.submit-enviar:focus {
    color: rgb(255, 255, 255);

}

